* {
   -webkit-box-sizing: border-box;
   -mos-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
}


.title-super {
	font-size: 40px;
	margin-top:60px;
}

.title-logo {
	margin-top: 20px;
}


.col-md-4 {
	width: 300px;
	height: 200px;

	
}

.box {
	height: 100px;
	width: 100px;
}

  
